@font-face {
    font-family: "SuperFuntime";
    src: url(../fonts/SuperFuntime-3zpLX.ttf);
}

@font-face {
    font-family: "SuperDessert";
    src: url(../fonts/SuperDessert-EaAyj.ttf);
}

.store-page{
    margin-left: 220px;
}


.store-nav{
    background-image: url('../image/Bg\ fixed.png');
    background-size: cover;
    color: beige;
    margin-bottom: 50px;
    height: 180px;
}

.store-nav-title{
    padding-top: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-shadow: #5b4431 3px 5px 18px;
    font-family: "SuperDessert", 'Courier New', Courier, monospace;
}

@media screen and (min-width: 1480px) {
    .store-nav-title {
        padding-bottom: 20px;
    }

    .category-name {
        font-size: 20px;
    }
}

@media screen and (min-width: 820px) {
    .category-container {
        margin-left: 20vh;
    }
}

.category-container{
    display: inline-block;
}

.category-name{
    display: flex;
    /* font-size: 20px; */
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: #5b4431 3px 5px 18px;
    background-color: #806a57;
    padding: 5px 25px;
    border-radius: 20px;
    justify-content: center;
    overflow: clip;
    transition: all .3s ease;
    font-family: 'Courier New', Courier, monospace;
}

.category-name:hover{
    text-decoration: underline;
    background-color: #83b0b1;
}
