body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    margin-top: 20px;
    height: 40px;
    width: 100px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    opacity: 1;
    border-radius: 10px;
    background-color: rgb(137, 124, 91);
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #F1F1F1;
    padding: 14px 28px;
    max-width: 600px;
    min-width: 300px;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    color: white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    opacity: 1;
    background-color: rgb(137, 124, 91);
}

.modalbtn {
    color: white;
    height: 40px;
    width: 100px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    opacity: 1;
    border-radius: 10px;
    transition: all .3s ease;
    background-color: rgb(137, 124, 91);
}

.modalbtn:hover {
    background-color: #83b0b1;
}
