.address-main-body{
    margin-left: 220px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.address-body-wrapper{
    margin-top: 5vh;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.address-header{
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.address-add{
    text-decoration: none;
}

.adding-container{
    margin-bottom: 20px;
    margin-left: 20px;
    color: #806a57;
    border: 3px dotted black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 70px 90px 70px 90px;
}

#add-btn{
    font-size: 100px;
}

.address-info{
    font-size: 18px;
}

.address-info-container{
    margin-bottom: 20px;
    margin-left: 20px;
    color: #806a57;
    /* display: flex;
    align-items: center; */
    border: 1px solid black;
    border-radius: 10px;
    padding: 70px 80px 70px 80px;
    flex-basis: 170px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.address-contents{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
}
