.checkout-container{
    margin-left: 220px;
}

.payment-info-dropdown-container.inactive{
	opacity: 0;
	visibility: hidden;
	display: none;
	transform: translateY(-20px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.payment-info-dropdown-content:hover{
    background-color: #83b0b1;
    cursor: pointer;
}
