.form-input-textarea{
    margin-bottom: 10px;
    background-color: transparent;
    border: 2px solid white;
    background-color: rgb(188, 176, 145);
    color: #6e683c;
    display: flex;
	align-items: flex-start;
	width: 330px;
	height: 100px;
	border-radius: 20px;
	resize: none;
	padding: 10px;
}
