/* .profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
} */

@font-face {
  font-family: "SuperFuntime";
  src: url(../fonts/SuperFuntime-3zpLX.ttf);
}

@font-face {
  font-family: "SuperDessert";
  src: url(../fonts/SuperDessert-EaAyj.ttf);
}

.main-nav{
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 220px;
  overflow: hidden;
  height: auto;
  background-color: #cde1df;
}

#studio-logo{
  position: fixed;
  top: 100px;
  left: 0;
  height: 220px;
  width: 220px;
}

.nav{
  position: fixed;
  width: fit-content;
  left: 40px;
  top: 330px;
}

.store-name{
  position: fixed;
  top: 30px;
  left: 15px;
  color: #4c3125;
  font-size: 25px;
  font-family: "SuperFuntime", sans-serif;
}

.nav i{
  margin-top: 40px;
  margin-right: 10px;
  transition: all .3s ease;
}

.nav i:hover {
  color: #83b0b1;
}

.nav a{
  color: #4c3125;
  text-decoration: none;
  transition: all .3s ease;
}

.nav a:hover {
  color: #83b0b1;
}

.nav a:visited{
  color: #4c3125;
}

.user-loggin button{
  color: white;
  margin-top: 20px;
  display: block;
  height: 40px;
  width: 100px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  opacity: 1;
  border-radius: 10px;
  transition: all .3s ease;
  background-color: rgb(137, 124, 91);
}

.user-loggin button:hover {
  background-color: #83b0b1;
}

.link{
  text-decoration: none;
  display: block;
  color: #806a57;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace,"SuperDessert", sans-serif;
}

.link:hover{
  text-decoration: underline;
  font-weight: bolder;
}

.user-link{
  margin-top: 30px;
}
