.confirmation div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.yes {
    color: white;
    margin-top: 20px;
    height: 40px;
    width: 200px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    opacity: 1;
    border-radius: 10px;
    transition: all .3s ease;
    background-color: rgb(137, 124, 91);
}

.yes:hover {
    background-color: #83b0b1;
}

.no {
    color: white;
    margin-top: 20px;
    height: 40px;
    width: 200px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    opacity: 1;
    border-radius: 10px;
    transition: all .3s ease;
    background-color: rgb(137, 124, 91);
}

.no:hover {
    background-color: #83b0b1;
}
